/* general */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

body {
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* header */
/* empty */

/* main */
/* empty */

/* footer */
/* empty */

/* media queries */
/* extra small */
@media screen and (max-width: 576px) {

}

/* small */
@media screen and (min-width: 576px and (max-width: 768px) {

}
/* medium */
@media screen and (min-width: 768px) and (max-width: 992px) {

}

/* large */
@media screen and (min-width: 992px) and (max-width: 1200px) {

}

/* extra large */
@media screen and (min-width: 1200px) {

}
